<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.rtl.min.css" integrity="sha384-dpuaG1suU0eT09tx5plTaGMLBsfDLzUCCUXOY2j/LSvXYuG6Bqs43ALlhIqAJVRb" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos_pagina_administrador.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>AgricoWeb:  Administrador</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-success">
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="{{ url_for('administrador') }}">Administrador {{nombre_usuario}}</a>
        
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="{{ url_for('tabla_usuarios') }}">Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="{{ url_for('tabla_preguntas_sin_responder')}}">Preguntas sin Responder</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="{{ url_for('tabla_preguntas_respondidas')}}" >Preguntas Respondidas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-success btn btn-light bg-light" href="{{ url_for('cerrar_sesion') }}">Cerrar sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <h1 class="text-center mt-5 nb-5 text-success">PREGUNTAS RESPONDIDAS</h1>
  <div class="container">
    <div class="card shadow">
      <div class="card-body">

        <!-- TABLA -->

        <table class="table table-bordered">
          <thead>
            <th scope="col">id Respuesta</th>
            <th scope="col">id Usuario</th>
            <th scope="col">id Pregunta</th>
            <th scope="col">Respuesta</th>
            <th scope="col">URL imagen</th>
            <th scope="col">Fecha Publicacion</th>
            <th scope="col">Fecha Edicion</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
          </thead>
          <tbody>
            {% for d in data %}
            <tr>
              <td>{{d.id_respuesta}}</td>
              <td>{{d.id_usuario}}</td>
              <td>{{d.id_pregunta}}</td>
              <td>{{d.respuesta}}</td>
              <td><img src="{{d.url_imagen}}" alt="" class="imagencitas"></td>
              <td>{{d.fecha_publicacion}}</td>
              <td>{{d.fecha_edicion}}</td>
              <td><button class="btn btn-primary btn-sm" id="btn-edit{{d.id_respuesta}}" data-bs-toggle="modal" data-bs-target="#modal{{d.id_respuesta}}">Editar</button></td>
              <td><a href="{{url_for('eliminar_respuesta', id_respuesta = d.id_respuesta)}}" class="btn btn-danger btn-sm">Eliminar</a></td>
            </tr>

            <!-- MODAL -->
            <div class="modal fade" id="modal{{d.id_respuesta}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">{{d.id_respuesta}}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form action="/editar_respuesta/{{d.id_respuesta}}" method="POST">
                      <label>Respuesta</label>
                      <input type="text" class="form-control mb-3" name="respuesta" value="{{d.respuesta}}"  required>
                      <label>URL imagen</label>
                      <input type="text" class="form-control mb-3" name="urlImagen" value="{{d.url_imagen}}"  required>
                  </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>
