body {
    background-image: url(https://static.vecteezy.com/system/resources/previews/006/716/847/non_2x/cartoon-supermarket-facade-of-the-building-street-view-in-flat-style-front-shop-vector.jpg);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
}

.menu {
    background-color:khaki;
    width: 80%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

.efe {
    text-align: center;
}

h1, h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

.item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

.cosas, .gaseosas   {
    text-align: left;
    width: 75%;
}

.precio {
    text-align: right;
    width: 25%;
}

.img {
    display: block;
    height: 150px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}

hr {
    color: brown;
    border-color: brown ;
    height: 2px;
    background-color: brown;
}

footer {
    padding-bottom: 20px;
    text-align: center;
}